
    <%- require('./src/common/header.html') %>
     
    <div class="banner" data-mode="4">
      <ul class="b-ul">
        <li class="b-item">
          <a href="">
            <img src=<%= require("./src/images/qm.png") %> alt="">
          </a>
        </li>
        <li class="b-item">
          <a href="">
            <img src=<%= require("./src/images/apos.png") %> alt="">
          </a>
        </li>
        <li class="b-item">
          <a href="">
            <img src=<%= require("./src/images/hot.png") %> alt="">
          </a>
        </li>
        <li class="b-item">
          <a href="">
            <img src=<%= require("./src/images/c10.png") %> alt="">
          </a>
        </li>
        <li class="b-item">
          <a href="">
            <img src=<%= require("./src/images/qm.png") %> alt="">
          </a>
        </li>
        <li class="b-item">
          <a href="">
            <img src=<%= require("./src/images/apos.png") %> alt=""> alt="">
          </a>
        </li>
     
      </ul>
      <div class="indicate">
        <div class="indicate-box">
          <span class="on">1</span>
          <span>2</span>
          <span>3</span>
          <span>4</span>
        </div>
      </div>
    </div>

    <div class="new-pro">
      <div class="wrap">
        <div class="title">New Products</div>
        <div class="info">新品动向</div>
        <div class="items clearfix">
          <div class="n-p-item">
            <img src=<%= require("./src/images/a5.png") %> alt="">
            <p class="name">APOS A5</p>
          </div>
          <div class="n-p-item">
            <img src=<%= require("./src/images/a5.png") %> alt="">
            <p class="name">APOS A5</p>
          </div>
          <div class="n-p-item">
            <img src=<%= require("./src/images/a5.png") %> alt="">
            <p class="name">APOS A5</p>
          </div>
          <div class="n-p-item">
            <img src=<%= require("./src/images/a5.png") %> alt="">
            <p class="name">APOS A5</p>
          </div>
        </div>
        <a href="" class="more">查看更多>></a>
      </div>
    </div>

    <div class="solutions">
      <div class="title">Software & Solutions</div>
      <a href="" class="s-solutions">软件及解决方案<img src=<%= require("./src/images/add.png") %> alt=""></a>

      <div class="solution-items" data-mode="2">
        <div class="items-wrap clearfix">
          <div class="solution-item">
            <img src=<%= require("./src/images/new.png") %> alt="">
            <a href="" class="item-info">
              <div class="title">智慧园区“银卡通”产品方案</div>
              <div class="line"></div>
              <div class="more">MORE+</div>
            </a>
          </div>
          <div class="solution-item">
            <img src=<%= require("./src/images/fees.png") %> alt="">
            <a href="" class="item-info">
              <div class="title">智慧园区“银卡通”产品方案</div>
              <div class="line"></div>
              <div class="more">MORE+</div>
            </a>
          </div>
          <div class="solution-item">
            <img src=<%= require("./src/images/cash.png") %> alt="">
            <a href="" class="item-info">
              <div class="title">智慧园区“银卡通”产品方案</div>
              <div class="line"></div>
              <div class="more">MORE+</div>
            </a>
          </div>
          <div class="solution-item">
            <img src=<%= require("./src/images/cooking.png") %> alt="">
            <a href="" class="item-info">
              <div class="title">智慧园区“银卡通”产品方案</div>
              <div class="line"></div>
              <div class="more">MORE+</div>
            </a>
          </div>
          <div class="solution-item">
            <img src=<%= require("./src/images/cart.png") %> alt="">
            <a href="" class="item-info">
              <div class="title">智慧园区“银卡通”产品方案</div>
              <div class="line"></div>
              <div class="more">MORE+</div>
            </a>
          </div>
          <div class="solution-item">
            <img src=<%= require("./src/images/pay.png") %> alt="">
            <a href="" class="item-info">
              <div class="title">智慧园区“银卡通”产品方案</div>
              <div class="line"></div>
              <div class="more">MORE+</div>
            </a>
          </div>
          <div class="solution-item">
            <img src=<%= require("./src/images/monitoring.png") %> alt="">
            <a href="" class="item-info">
              <div class="title">智慧园区“银卡通”产品方案</div>
              <div class="line"></div>
              <div class="more">MORE+</div>
            </a>
          </div>
          <div class="solution-item">
            <img src=<%= require("./src/images/sale.png") %> alt="">
            <a href="" class="item-info">
              <div class="title">智慧园区“银卡通”产品方案</div>
              <div class="line"></div>
              <div class="more">MORE+</div>
            </a>
          </div>
          <div class="solution-item">
            <img src=<%= require("./src/images/new.png") %> alt="">
            <a href="" class="item-info">
              <div class="title">智慧园区“银卡通”产品方案</div>
              <div class="line"></div>
              <div class="more">MORE+</div>
            </a>
          </div>
          <div class="solution-item">
            <img src=<%= require("./src/images/fees.png") %> alt="">
            <a href="" class="item-info">
              <div class="title">智慧园区“银卡通”产品方案</div>
              <div class="line"></div>
              <div class="more">MORE+</div>
            </a>
          </div>
          <div class="solution-item">
            <img src=<%= require("./src/images/cash.png") %> alt="">
            <a href="" class="item-info">
              <div class="title">智慧园区“银卡通”产品方案</div>
              <div class="line"></div>
              <div class="more">MORE+</div>
            </a>
          </div>
          <div class="solution-item">
            <img src=<%= require("./src/images/cooking.png") %> alt="">
            <a href="" class="item-info">
              <div class="title">智慧园区“银卡通”产品方案</div>
              <div class="line"></div>
              <div class="more">MORE+</div>
            </a>
          </div>
          <div class="solution-item">
            <img src=<%= require("./src/images/cart.png") %> alt="">
            <a href="" class="item-info">
              <div class="title">智慧园区“银卡通”产品方案</div>
              <div class="line"></div>
              <div class="more">MORE+</div>
            </a>
          </div>
          <div class="solution-item">
            <img src=<%= require("./src/images/pay.png") %> alt="">
            <a href="" class="item-info">
              <div class="title">智慧园区“银卡通”产品方案</div>
              <div class="line"></div>
              <div class="more">MORE+</div>
            </a>
          </div>
          <div class="solution-item">
            <img src=<%= require("./src/images/monitoring.png") %> alt="">
            <a href="" class="item-info">
              <div class="title">智慧园区“银卡通”产品方案</div>
              <div class="line"></div>
              <div class="more">MORE+</div>
            </a>
          </div>
          <div class="solution-item">
            <img src=<%= require("./src/images/sale.png") %> alt="">
            <a href="" class="item-info">
              <div class="title">智慧园区“银卡通”产品方案</div>
              <div class="line"></div>
              <div class="more">MORE+</div>
            </a>
          </div>
        </div>
        <div class="solution-indicate">
          <div class="s-i-item on">1</div>
          <div class="s-i-item">2</div>
        </div>
      </div>
    </div>

    <div class="news">
      <div class="title">Latest News</div>
      <a href="" class="news-more">新闻资讯<img src=<%= require("./src/images/add2.png") %> alt=""></a>
      <div class="news-items">
        <div class="new-item">
          <a href="" class="new-img">
            <img src=<%= require("./src/images/aecr.png") %> alt="">
          </a>
          <div class="news-info">
            <div class="title"><a href="">发现AECR，感受无处不在的智能收银</a></div>
            <div class="date">2019-05-29</div>
            <div class="line"></div>
            <div class="desc">纵横东西，贯穿南北<a href="">详细>>|</a></div>
          </div>
        </div>
        <div class="new-item">
          <a href="" class="new-img">
            <img src=<%= require("./src/images/aecr.png") %> alt="">
          </a>
          <div class="news-info">
            <div class="title"><a href="">发现AECR，感受无处不在的智能收银</a></div>
            <div class="date">2019-05-29</div>
            <div class="line"></div>
            <div class="desc">纵横东西，贯穿南北<a href="">详细>>|</a></div>
          </div>
        </div>
        <div class="new-item">
          <a href="" class="new-img">
            <img src=<%= require("./src/images/aecr.png") %> alt="">
          </a>
          <div class="news-info">
            <div class="title"><a href="">发现AECR，感受无处不在的智能收银</a></div>
            <div class="date">2019-05-29</div>
            <div class="line"></div>
            <div class="desc">纵横东西，贯穿南北<a href="">详细>>|</a></div>
          </div>
        </div>
        <div class="new-item">
          <a href="" class="new-img">
            <img src=<%= require("./src/images/aecr.png") %> alt="">
          </a>
          <div class="news-info">
            <div class="title"><a href="">发现AECR，感受无处不在的智能收银</a></div>
            <div class="date">2019-05-29</div>
            <div class="line"></div>
            <div class="desc">纵横东西，贯穿南北<a href="">详细>>|</a></div>
          </div>
        </div>
      </div>  
    </div>

    <div class="aside">
      <div class="aside-item item1">0591-88077088</div>
      <div class="aside-item item2">
        <div class="wx">
          <img src=<%= require("./src/images/weixin.png") %> alt="" class="wx-logo">
          <p class="text">微信公众号</p>
          <img src=<%= require("./src/images/erwm.png") %> alt="" class="wx-erwm">
          <img src=<%= require("./src/images/leftPointer.png") %> alt="" class="p-left">
        </div>
      </div>
      <div class="aside-item item3" title="返回顶部">
        <div class="arr-up"></div>
        <p>TOP</p>
      </div>
    </div>
    <%- require('./src/common/footer.html') %>

  </body>
</html>


